nav {
    background-color: #FFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


h2 {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 120rem;
}

a svg{
    height: 6%;
    width: 6%;
    position: absolute;
    right: 28.5%;
    top: 5%;
    background-color: #FFF;
    color: #151F5D;
}