 /* Style the buttons that are used to open and close the accordion panel */
 
section {
   display: flex;
   padding: 0 5%;
   align-items: center;
 }

 article {
   background-color: #F3F3F3;
 }

aside {
  background-color: #FFF;
} 

.accordion {
   width: 1500px;
 }

 .item {
   background: #F0EBE1;
   margin-bottom: 5px;
   padding: 10px 20px;
 }

 .title {
   color:aqua;
 }

 .details {
   color: red;
 }
