h1, h2, h3, h4, h5, h6, p {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Encode Sans', sans-serif;
}

button {
    background-color: #FFF;
    border-radius: 2rem;
    border: 1px solid #333;
    margin: 0 0.3rem;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

hr {
    color: #151F5D;
}

button:hover {
    background-color: #E3EFFF;
    color: #000;
}

ul {
    list-style: none;
}

a:hover {
    background-color: #EEE;
    border-radius: 0.3rem;
    transition: all 0.6s ease-out;
}

#locationName {
    text-align: right;
    padding: 1% 25%;
    font-size: 2rem;
}

#pageName {
    padding: 0 10%;
    font-size: 2rem;
}